.mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-items: stretch;
    gap: 50px;
}

.mainGrid__container{
    border-radius: 22px;
    display: flex;
    flex-flow: column;
    background-color: white;
}

.mainGrid__container__img{
    padding-top:20px ;
    padding-left:20px ;
    padding-right:20px ;
    /*padding: 20px;*/
    height: 160px;
    width: 337px;
}


.mainGrid__container__h{
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    margin-bottom: 5px;
    padding-left:20px ;
    padding-right:20px ;
    /*padding: 20px;*/
}

.mainGrid__container__p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-top: 0;
    padding-left:20px ;
    padding-right:20px ;
    flex-grow: 1;

    /*padding: 20px;*/
}





.mainGrid__container__footerRow{
    display: flex;
    padding-left: 20px ;
    padding-right: 20px;
    gap: 15px;
    flex-shrink: 0;
}

.mainGrid__container__footerRow__p{
   font-family: "Poppins", sans-serif;
   font-size: 16px;
}

.mainGrid__container__footerRow__img{
    margin-top: 25px;
    height: 3px;
    width: 3px;
}


